.card {
    background-color: #111111; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out;
    }

    .card:hover {
    transform: scale(1.02);
    }


    .card-header {
    background-color: transparent;
    border-bottom: none;
    }

    .card-title{
    color: #eaeaea;
    text-align: center;
    }

    .card-text {
    color: #eaeaea;
    font-weight: bold;
    text-align: center;
    }


    a {
    text-decoration: none;
    /*what??*/
    } 